{% extends 'base.html' %}

{% block  content%}

<h3>Websites For Citizens : </h3>
<h4>Apply For Voter ID Official Page <a href="{{ VoterId }}" target="__blank">Click Here</a></h4>
<h4>Apply For Pan Card Official Page <a href="{{ PanCard }}" target="__blank">Click Here</a></h4>
<h4>Apply For E-Pan Status Official Page <a href="{{ StatusPanApplication }}" target="__blank">Click Here</a></h4>
<h4>Apply For Driving License Official Page <a href="{{ DrivingLicense }}">Click Here</a></h4>

<h3>Websites For Developers : </h3>
<h4>Real-World Project-Based Challenges For Front-End Developers <a href="{{ FrontendMentor }}" target="__blank">Click Here</a></h4>
<h4>Resource for CSS tutorials For Website And Responsive Design <a href="{{ Css_Tricks }}" target="__blank">Click Here</a></h4>
<h4>Video Tutorials Focusing on JavaScript fundamentals And Advanced Technique<a href="{{ JavaScript30 }}" target="__blank">Click Here</a></h4>
<h4>A free SQL relational database management system that works on Mac OS, Linux, Windows <a href="{{ Firebird }}" target="__blank">Click Here</a> </h4>

    

{% endblock %}